# Build outputs
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# NuGet
*.nupkg
*.snupkg
packages/
project.assets.json
project.nuget.cache
*.nuget.props
*.nuget.targets

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Logs
*.log
